body {
  font-family: 'Noto Sans', sans-serif;
  color: #333;
  font-size: 12px;
}

.title{
text-align: center;
}

.buttonContainer{
display: flex;
align-items: center;
justify-content : space-between;  
height: 40px;
background-color: #a7c1e1;
}


/**  custom bootstrap - start */
.btn {
  border-radius: 50px;
  cursor: pointer;
  background-color: #a7c1e1;
  border: none;
  margin-right: 2px;
  font-family: 'Jamsil', sans-serif;
  color: white;
}

.btn:first-child{
  margin-left: 5px;
}

.btn:nth-child(2){
  padding-right: 8px;
}

.btn:nth-child(3){
  padding-left: 8px;
  margin-right: 5px;
}

.btn:hover {
  border: none;
  background-color: white;
  color: #a7c1e1;
}

.btn:active {
  background-color: white;
  border: none;
  outline: none;
  color: #a7c1e1;
}

.btn:disabled {
  background-color: white;
  border: none;
  color: white;
}

.btn:focus:active,
.btn:focus,
.btn:active {
  outline: none;
}

.move-today {
  padding: 16px;
  line-height: 30px;
}

.move-day {
  padding: 8px;
}

.render-range {
  font-size: 19px;
  color: white;
  font-family: 'Jamsil', sans-serif;
  margin-left: 15px;
}

/** custom fontawesome */
.fa {
  width: 12px;
  height: 12px;
  margin-right: 2px;
}


/*캘린더*/
.toastui-calendar-calendar-section > ul{
  width: 175.5px;
}
/* 추가 모달 창 색깔 선택 버튼*/

.toastui-calendar-popup-section-private{
  visibility:hidden;
  border:none;
  cursor:default;
} /* 추가 모달 창 잠금 버튼*/

.toastui-calendar-popup-section-item.toastui-calendar-popup-section-location{
  visibility:hidden !important;
  width: 0;
  height: 0;
  border:none;
  cursor:default;
} /* 추가 모달 창 장소 버튼*/

.toastui-calendar-ic-location{
  display: none;
  width: 0;
  height: 0;
}
 .toastui-calendar-form-container > div:nth-child(3) > div > input{
  display: none;
  width: 0;
  height: 0;
  margin: 0;
 }

 .toastui-calendar-form-container > div:nth-child(3) > div{
  display: none;
  width: 0;
  height: 0;
  margin: 0;
 }

 .toastui-calendar-form-container > div:nth-child(3){
  display: none !important;
  width: 0;
  height: 0;
  margin: 0;
 }

/* 추가 모달 창 장소 아이콘*/

.toastui-calendar-state-section{
  display: none !important;
  cursor:default !important;
} /* 추가 모달 창 바쁨 버튼*/

.toastui-calendar-popup-section{
  margin-top: 20px;
}

.toastui-calendar-popup-button.toastui-calendar-popup-confirm{
  background: #84A1C4;
  border-radius: 7px;
  cursor: pointer;
  width: 55px;
  height: 23px;
  padding: 2px 0;
  font-weight: 600;
  text-align: center;
  font-size: 13px;
  color: white;
  margin-right: 10px;
  margin-top: 10px;
  font-family: 'Jamsil', sans-serif;
}  /* 추가 모달 창 저장 버튼*/

.toastui-calendar-popup-section-allday{
  visibility:hidden;
  cursor:default;
}
/* 추가 창 올데이 버튼*/

.toastui-calendar-grid-cell-date .toastui-calendar-weekday-grid-date.toastui-calendar-weekday-grid-date-decorator{
  background-color: #6682A7;
}
/* 현재 날짜 동그라미*/

.toastui-calendar-ic-edit{
  display: none;
}
/* 상세 창 수정 아이콘*/


.toastui-calendar-ic-delete{
  display: none;
}
/* 상세 창 삭제 아이콘*/


.toastui-calendar-section-detail{
  display: none !important;
}
/* 상세 창 내용 칸*/


.toastui-calendar-popup-section.toastui-calendar-section-button{
  border: none;
  text-align: right;
  display:flex;
  justify-content: end;
  margin-top: 50px;
}
/* 상세 창 삭제/수정 버튼*/


.toastui-calendar-vertical-line{
  display: none;
}
/* 상세 창 삭제/수정 버튼 가운데 선*/


.toastui-calendar-delete-button{
  background: #84A1C4;
  border-radius: 7px;
  cursor: pointer;
  width: 55px;
  height: 23px;
  padding: 2px 0;
  font-weight: 600;
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
  font-family: 'Jamsil', sans-serif;
  color: white;
  margin-left: 3px;
}
/* 상세 창 삭제 버튼 버튼*/

.toastui-calendar-edit-button{
  background: #84A1C4;
  border-radius: 7px;
  cursor: pointer;
  width: 55px;
  height: 23px;
  padding: 2px 0;
  font-weight: 600;
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
  color: white;
  margin-left: 3px;
  font-family: 'Jamsil', sans-serif;
}
/* 상세 창 수정 버튼*/


.toastui-calendar-detail-container{
  font-family: 'Jamsil', sans-serif;
  margin-bottom: 3px;
}
/* 상세창 글씨*/

.toastui-calendar-template-popupDetailTitle{
  font-size: large;
}

.toastui-calendar-form-container{
  width: 440px;
}